@{
    ViewData["Title"] = "Pagina inicial";
}

<h1 class="text-primary">Bem vindo ao sistem de <b>Gestão</b></h1><hr />
<p>Este sistema esta em construção, por isso muito erros ainda não foram tratados.</p> <br />

<p>Esta e a lista de funções, algumas podem não esta disponivel no momento.</p> <br />

<a>Acerto operadores</a> 
<br />
<a>Clientes e estabelecimentos</a>
<br />
<a>Despesas</a>
<br />
<a>Consolidado</a>
<br />
<a>Investimentos</a>
<br />
<a>Estoque</a>
<br />
<a>Relatorios</a>
<br />
<a asp-controller="Sala" asp-action="Index">Salas</a>